# Force LF line endings for files that run inside Linux containers.
*.sh            text eol=lf
docker-compose* text eol=lf
Dockerfile*     text eol=lf
*.py            text eol=lf
*.yaml          text eol=lf
*.yml           text eol=lf
